html {
    scroll-behavior: smooth;
}

section{
    padding: 10em 0 10em 0;
}

.img-fluid {
    cursor: pointer;
    transition: transform .2s;
}

.img-fluid:hover {
    z-index: 2;
    transform: scale(1.2);
}

a {
    color: #444;
    cursor: pointer;
    outline: none;
    background: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.contact {
    font-size: 20px;
}

p {
    font-size: 15px;
}

.content {
    padding-top: 1em;
}

.blackWhite img {
    -webkit-filter: grayscale(1);
}

.blackWhite:hover img {
    -webkit-filter: grayscale(0);
}

button {
    border: 1px solid #444;
    background: #fff;
    color: #444;
    padding: 15px 20px;
    border-radius: 8px;
    transition: .2s;
    font-size: 1.3em;
}

button:hover {
    background: #444;
    color: #fff
}

#contactText {
    font-size: 2em;
    color: #666;
}

.vl {
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 90%;
    height: 50px;
}

#title {
    cursor: pointer;
    color: #ffffff;
    -webkit-text-stroke: 2px #444;
    background: linear-gradient(to right, #444 50%, #FF5858 50%, #CC2E5D);
    /*background: linear-gradient(to right, #fff 50%, #FF5858 50%, #CC2E5D);*/
    /*background: linear-gradient(to right, #fff 50%, #444 50%, #444);*/
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

#title:hover {
    background-position: -100%;
}

@media only screen and (min-width: 1200px) {
    #title {
        font-size: 15em;
    }
    .lead {
        font-size: 2em;
    }
    #blockerSection {
        height: 10em
    }
    #titleSection {
        min-height: 50em
    }
}

@media only screen and (max-width: 1200px) {
    #title {
        font-size: 12em;
        -webkit-text-stroke: 1px #444;
    }
    .lead {
        font-size: 2em;
    }
    #blockerSection {
        height: 5em
    }
    #titleSection {
        min-height: 10em
    }
}

@media only screen and (max-width: 768px) {
    #title {
        font-size: 7em;
        -webkit-text-stroke: 1px #444;
    }
    .lead {
        font-size: 1.5em;
    }
    #blockerSection {
        height: 5em;
    }
    #titleSection {
        min-height: 10em
    }
}

@media only screen and (max-width: 500px) {
    #title {
        font-size: 4.5em;
        -webkit-text-stroke: 1px #444;
    }
    .lead {
        font-size: 1.5em;
    }
    #blockerSection {
        height: 5em;
    }
    #titleSection {
        min-height: 10em;
    }
}